.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 55px;
    background-color: #fff;
}

.navigation h1 {
    margin: 24px 0 0 24px;
    font-size: 1.2em;
    font-weight: 600;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    z-index: 2;
}

.navigation h1 a {
    color: #333;
    text-decoration: none;
}

.hamburger {
    position: fixed;
    top: 20px;
    right: 24px;
    z-index: 3;
}

.hamburger span {
    display: block;
    width: 27px;
    height: 4px;
    margin: 4px 0;
    background: #333;
    border-radius: 3px;
    opacity: 1;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 75px 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    text-align: center;
    background-color: #fff;
    transform: translateY(20px);
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.content h2 {
    margin: 15px 0;
    color: #333;
    font-size: 1.1em;
    font-weight: 400;
}

.content ul {
    margin: 0;
    padding: 0;
}

.content li {
    list-style-type: none;
}

.content a {
    color: #333;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.6em;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.open h1 {
    opacity: 0;
}

.open .hamburger span {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
}

.open .hamburger span:nth-last-child(3) {
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
}

.open .hamburger span:nth-last-child(2) {
    opacity: 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}

.open .content {
    opacity: 1;
    visibility: visible;
    transform: none;
}

/* Tablets */
@media (min-width: 768px) {
    .navigation {
        position: relative;
    }

    .navigation h1 {
        margin: 40px 0 0 42px;
        width: 210px;
    }

    .hamburger {
        display: none;
    }

    .content {
        position: relative;
        padding: 0 0 0 42px;
        opacity: 1;
        visibility: visible;
        text-align: left;
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    .content h2 {
        font-size: 1em;
    }

    .content a {
        font-size: 1em;
    }
}
