.slideshow {
    text-align: center;
}

.slide {
    position: relative;
    display: none;
}

.slide h3 {
    float: left;
    text-align: left;
    margin: 4px 0 0 0;
    font-size: 0.8em;
    font-style: italic;
}

.slide span {
    float: right;
    margin: 4px 0 0 4px;
    font-size: 0.8em;
    font-style: italic;
}

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
}

.navigation .previous {
    width: 50%;
    cursor: url('/assets/arrow-left.svg') 0 0, w-resize;
}

.navigation .next {
    width: 50%;
    cursor: url('/assets/arrow-right.svg') 0 0, e-resize;
}

.show {
    display: inline-block;
}

/* Tablets and up */
@media (min-width: 768px) {
    .slide h3,
    .slide span {
        font-size: 0.9em;
    }
}
